
<h2>Name: <%= @style["name"] %> </h2>
<!-- %# <h2>ID: <%= @style["id"] %> -->
<!-- <%= %> echoing tag ----->
<!-- <% %> non-echoing tag -->

<p>
<!-- for each beer in particular |style| -->
<% @style.beers.each do |style| %>
      <li>
        <a href="/style/<%= style.id %>">
          <%= style.name %>
        </a>
      </li>
    <% end %>
</p>

<nav>
<div class="footer">
    <a href="/styles/<%= @style["id"] %>/edit">Edit style</a> ⋅ 
    <a href="/styles/<%= @style["id"] %>/delete">Delete style</a>
</div>    
</nav>