<h1> <%= @whisky.name %> </h1>

<h3> <%= @whisky.distillery %> <%= @whisky.name %></h3>
<h4> <%= @whisky.abv %> </h4>

<% unless @whisky.image.nil? || @whisky.image.empty? %>
  <img src="<%= @whisky.image %>" alt=" <%= @whisky.name %>">
<% end %>

<div class="controls">
  <a href="/whiskies/<%= @whisky.id %>/edit">Edit Whisky</a>
  <a href="/whiskies/<%= @whisky.id %>/delete">Delete Whisky</a>
</div>
