<!DOCTYPE html>
<html>
  <head>
    <title>Rhcp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "All albums", albums_path %>
      |
      <%= link_to "New album", new_album_path %>
    </nav>
    <%= yield %>
  </body>
</html>
