<h1><%= @team.name %></h1>

<p> <strong>Manager:</strong> <%= @team.manager %> </p>
<p> <strong>Based in:</strong> <%= @team.city %> </p>
<img src="<%= @team.logo %>">

<br>
<br>

<a href="/teams/edit/<%= @team.id %>"><button>Edit team</button></a>
<a href="/teams/delete/<%= @team.id %>"><button>Delete team</button></a>