<!DOCTYPE html>
<html>
  <head>
    <title>Galleries App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'All galleries', galleries_path %>
        <%= link_to 'New gallery', new_gallery_path %>
      </nav>
      <div class="container">
        <h1>Galleries App</h1>
          <div class="container">
            <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
