<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jeopardy!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <h2><%= category %> for $<%= value %></h2>
  <h1><%= question %></h1>
  <form action="/answer">
    <input style="display:none;" type="text" name="category" value="<%= category %>">
    <input style="display:none;" type="text" name="value" value="<%= value %>">
    <input style="display:none;" type="text" name="question" value="<%= question %>">
    <input style="display:none;" type="text" name="answer" value="<%= answer %>">
    <input type="submit" value="Reveal answer">
  </form>

</body>
