<style type='text/css' media="screen">
  body {
    background-image:
    url("<%= @book_img%>")
  }
</style>

<p>Title: <%= @title %></p>

<p>Author: <%= @author %></p>

<img src="<%= @book_img%>" alt="">

<p> <%= @desc %> </p>
