<!DOCTYPE html>
<html>
  <head>
    <title>Bloom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'All Musicians', musicians_path %>
        <%= link_to 'New Musician', new_musician_path %>
        |
        <%= link_to 'All Albums', albums_path %>
        <%= link_to 'New Albums', new_album_path %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
