<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>

  <body>
    <nav>
      <a href="/">Home | </a>
      <a href="/8ball">8 ball | </a>
      <a href="/secretnumber">Secret Number | </a>
      <a href="/spr">Scissors paper rock</a>
    </nav>
    <%= yield %>
  </body>
</html>
