<!DOCTYPE html>
<html>
  <head>
    <title>MountainsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css@1.3.7/dist/dark.min.css">

  </head>

  <body>
    <nav>
      <%= link_to "Home", home_path %>
    </nav>
    <%= yield %>
  </body>
</html>
