<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>email: <%= @user.email %></p>
<p>image: <%= @user.image %></p>
<p>team_id: <%= @user.team_id %></p>
<p>team_name: <%= @user.team_name %></p>
<p>registered: <%= @user.registered %></p>
<p>balance: <%= @user.balance %></p>
