<!DOCTYPE html>
<html>
  <head>
    <title>DessertsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to "All Deserts", desserts_path%>
    <%= link_to "New Desert", new_dessert_path%>
  </nav>
    <%= yield %>
  </body>
</html>
