<h1><%= @album.name %></h1>

<%= image_tag @album.image, :class => 'feature' if @album.image.present? %>
<ul>
  <li>Title: <%= @album.name %></li>
  <li>Year: <%= @album.year %></li>
  <% if @album.length.present? %>
    <li>Length: <%= @album.length %></li>
  <% end %>
  <li>Number of songs: <%= @album.no_of_songs %></li>
</ul>


<% unless @album.songs.empty? || @album.songs.nil?  %>
  <h3>Popular Songs</h3>
  <ul>
    <% @album.songs.each do |song| %>
      <li><%= link_to song.name, song %></li>
    <% end %>
  </ul>
<% end %>


<div class="controls">
  <%= button_to 'Edit album', edit_album_path(@album), :method => 'get' %>
  <%= button_to 'Delete album', @album, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
