<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your computer is <%= manufacturer %></h1>
    <p>Brand:  <%= manufacturer %></p>
    <p>Processor: <%= brand %> </p>
    <p>Processor speed: <%= speed %></p>
    <p>Core numbers: <%= cores %></p>

  
  </body>
</html>
