<h4><span>Book Title:</span> <br><%= @title %></br></h4>

<img src=" <%= @cover %>" >

<h3><span>Authors: </span><br><%= @authors %></br> </h3>
<h3><span>Published date</span><br><%= @publish %></br></h3>
<h3> <span>Description</span> <br><%= @desc %></br></h3>
