<h1>Edit Song</h1>

<form action="/songs/<%= @song.id %>" method="post">
  <label>
    Name:
    <input name="name" value="<%= @song.name %>">
  </label>

  <label>
    Link:
    <input type="url" name="image" value="<%= @song.image %>">
  </label>

  <label>
    Do you like it?
    <input type="checkbox" name="thumbs_up" <%= "checked" if @song.thumbs_up == 1  %>>
  </label>

  <label>
    Album:
    <input name="album" value="<%= @song.album %>">
  </label>

  <button>Update Song</button>
</form>
