<h1><%= @butterfly["name"] %></h1>
<h2>Family: <%= @butterfly["family"] %></h2>
<% unless @butterfly["image"].nil? || @butterfly["image"].empty? %>
  <img src="<%= @butterfly["image"] %>" alt="<%= @butterfly["name"] %>">
<% end %>
<div class="controls">
  <a href="/butterflies/<%= @butterfly["id"] %>/edit">Edit butterfly</a>
  <a href="/butterflies/<%= @butterfly["id"] %>/delete">Delete butterfly</a>
</div>
