<!DOCTYPE html>
<html>
  <head>
    <title>PetsPlace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  </head>

  <body>
    <nav>
      <%= link_to 'Breeders | ', breeders_path %>
      <%= link_to 'Pets', pets_path %>
    </nav>
    <%= yield %>
  </body>
</html>
