<h1>Edit Driver</h1>

<form action="<%= stat_path(@stat.id) %>" method="post">

  <label>
    <input name="full_name" type="text" placeholder="Max Verstappen" required value="<%= @stat.full_name %>">
  </label>

  <label>
    <input name="image" type="text" placeholder="http://......" value="<%= @stat.image %>">
  </label>

  <label>
    <input name="team" type="text" placeholder="Red Bull" value="<%= @stat.team %>">
  </label>

  <label>
    <input name="points" type="float" placeholder="100" value="<%= @stat.points %>">
  </label>

  <button>Update</button>
</form>
